{% load staticfiles %}

<HTML>
	<HEADER>
	<link rel="stylesheet" href="{% static 'css/Prof.css' %}">
	</HEADER>

	<body>
	<header><a href="/admin/">Admin Site</a></header>
      
  	<article>
  	{% for worker in wks %}
    <div>
      <h1>{{ worker.first_name }} {{ worker.last_name }}</h1>
      
     <ul>
         <li>Profession: {{worker.profession}} </li> 
         <li>Email: {{ worker.email }}</li>
         <li>Cellphone Number: {{ worker.cellphone }}</li>
         <li>Phone Number: {{worker.phone}} </li>
         <li>Address: {{worker.address}} - {{worker.city}} </li>
         
          
    </ul>

    </div>
   	{% endfor %}

	  </article>  

	</body>
</HTML>
